{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "css/search.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <div class="alert alert-warning alert-dismissible" role="alert" id="warning_msg" style="display:none;">
          <strong>Warning!</strong> Check Accurate Mode could result in 15 more seconds delay due to API limitations.
        </div>
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href='../#'>Noobest</a></h3>
              
            </div>
          </div>
          

          <form method="POST" id="input_stuff">
            <div class="inner cover lead">
             <h1 class="cover-heading">Search</h1>
             <p class="lead">Please enter your League of Lengend Username:</p>
              <input id="game_id" class="input" name="game_id" type="text" maxlength="50"/>
            </div>
              <div class="btn-group">
                <input type="checkbox" id="complex_mode" value="complex"> Accurate Mode <br>
              </div>
              <div>
            <a id="Submit" class="btn button" type="button">Submit</a>
            </div>
          </form>
          <div class="mastfoot">
            <div class="inner">
              <p>Noobest Team</p>
            </div>
          </div>
        </div>
      </div>

    </div>

        <!--script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <script src="{% static "bootstrap-3.3.6/js/bootstrap.min.js" %}"></script-->
    <script>
        $('#complex_mode').click(function() {
            $('#warning_msg').toggle(this.checked);
        });

        $('#input_stuff').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")  // sanity check
            create_post();
        });

        function create_post() {
          data['submit'] = 1;
          data['game_id']= $('#game_id').val();
          data['complex_mode'] = $('#complex_mode').val();
          data['csrfmiddlewaretoken'] = csrf_token;
          $.ajax({url: '/search/', type : "POST", data: data, success : successCall, error : responseFailure });
        };

        function successCall() {
          console.log("create post is working!")
        };

        function responseFailure() {
          console.log("Error! create not working!")
        };
    </script>    
  </body>
</html>
