{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "css/search.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href='../#'>Noobest</a></h3>
              
            </div>
          </div>

            <div class="inner cover lead">
             <h1 class="cover-heading">Loading...</h1>
             <p> Please wait while we are trying to find your noobest friend </p>
            </div>
            <div id="loading">
              <div id="loading_bar"></div>
            </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Noobest Team</p>
            </div>
          </div>

          <button id="go-to-result" class="button go-to-result" type="button"> Go To Result</button>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script> 
      $( "#go-to-result" ).click(function() {
        window.location.replace("/result/"); // + {{id}});
      });

      $("#go-to-result").hide();
      var elem = document.getElementById("loading_bar");   
      var width = 1;
      var id = setInterval(frame, 130);

      function frame() {
        if (width >= 100) {
          clearInterval(id);
          $("#go-to-result").show();
        } else {
          width++; 
          elem.style.width = width + '%'; 
        }
      }

      function sleep(seconds) {
        d = new Date()
        var start = d.getSeconds();
        while(((now = new Date().getSeconds()) - start) < seconds) {
          //alert(now)
      };
      }
    </script>
  </body>
</html>
